<nav class="nav-bar">
    <ul class="nav-items">
        <li class="nav-item"><a href="/">Quotely 💬</a></li>
        <div class="nav-items-right">
            <li class="nav-item"><a href="/posts">All Posts</a></li>
            <% if (!currentUser) { %>
                <li class="nav-item"><a href="/register">Register</a></li>
                <li class="nav-item"><a href="/login">Login</a></li>
            <% } else { %>
            <li class="nav-item"><a href="/posts/create">Create Post</a></li>
            <li class="nav-item"><a href="/profile">Profile</a></li>
            <li class="nav-item"><a href="/log-out">Logout</a></li>
            <% } %>
        </div>
    </ul>
</nav>