<nav class="nav-bar">
    <ul class="nav-items">
        <li class="nav-item"><a href="/">Clubhouse</a></li>
        <div class="nav-items-right">
            <li class="nav-item"><a href="/posts">Posts</a></li>
            <li class="nav-item"><a href="/register">Register</a></li>
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="/log-out">Logout</a></li>
        </div>
    </ul>
</nav>