<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/css/main.css">    
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div>
        <form action="/posts/create" method="POST">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">

            <label for="content"></label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <% if (typeof(errors) !== 'undefined') { %>
        <div class="error-container">
            <% for (error of errors) { %>
                <p> <%= error.msg %> </p>
            <% } %>
        </div>
    <% } %>
</body>
</html>