<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/main.css">    
    <link rel="stylesheet" href="/css/form.css">     
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="form-container">
        <h1 class="form-title">Edit Post</h1>
        <form action="/posts/<%= post._id %>/edit" method="POST" class="form">
            <div class="form-item">
                <label for="title"></label>
                <input type="text" id="title" value="<%= post.title %>" name="title" placeholder="Title">
            </div>

            <div class="form-item">
                <label for="content"></label>
                <textarea name="content" id="content" cols="30" rows="10" placeholder="Content"> <%= post.content %> </textarea>
            </div>

            <button class="form-button" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>