<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="form-container">
        <h1 class="form-title">Enter Your New Password</h1>
        <form class="form" action="/password-reset" method="POST">
            <div class="form-item">
                <label for="new-password"></label>
                <input type="password" name="newPassword" id="new-password" placeholder="New Password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <button class="form-button" type="submit">Update Password</button>
        </form>
    </div>
    
</body>
</html>