<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<%- include('partials/navbar.ejs') %>

<body>
    <div class="form-container">
        <h1 class="form-title">Register</h1>
        <div>
            <form action="/register" method="POST" id="register-form" class="form">
                <div class="form-item">
                    <label for="first-name"></label>
                    <input type="text" id="first-name" name="firstName" placeholder="First Name">
                </div>
                <div class="form-item">
                    <label for="last-name"></label>
                    <input type="text" id="last-name" name="lastName" placeholder="Last Name">
                </div>
                <div class="form-item">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-item">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-item">
                    <label for="confirm-password"></label>
                    <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password">
                </div>
                <div>
                    <label for="is-admin">Admin</label>
                    <input type="checkbox" id="is-admin" name="isAdmin" value="true">
                </div>
                <input type="hidden" id="is-admin-hidden" name="isAdmin" value="false">
                <button class="form-button" type="submit">Register</button>
            </form>
        </div>
        <p class="form-small-text">Already have an account? <a class="form-link" href="/login">Login</a></p>
    </div>
    <% if (typeof(validationErrors) !== 'undefined') { %>
        <div class="error-container">
            <% for (error of validationErrors) { %>
                <p> <%= error.msg %> </p>
            <% } %>
        </div>
    <% } %>
    <script>
        const registerForm = document.querySelector('#register-form');

        registerForm.addEventListener('submit', () => {
            if (document.getElementById("is-admin").checked) {
            document.getElementById('is-admin-hidden').disabled = true;
            }
        });
    </script>
</body>
</html>