<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<%- include('partials/navbar.ejs') %>

<body>
    <h1>Register</h1>
    <div class="register-container">
        <form action="/register" method="POST" id="register-form">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="firstName">

            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="lastName">

            <label for="email">Email</label>
            <input type="email" id="email" name="email">

            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <label for="is-admin">Admin</label>
            <input type="checkbox" id="is-admin" name="isAdmin" value="true">
            <input type="hidden" id="is-admin-hidden" name="isAdmin" value="false">

            <button type="submit">Register</button>
        </form>
    </div>
    <script>
        const registerForm = document.querySelector('#register-form');

        registerForm.addEventListener('submit', () => {
            if (document.getElementById("is-admin").checked) {
            document.getElementById('is-admin-hidden').disabled = true;
            }
        });
    </script>
</body>
</html>